<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endOfGame</key>
	<string>9925.0f</string>
	<key>forceVector</key>
	<string>200.0f</string>
	<key>characterMass</key>
	<string>10.0f</string>
	<key>lateralForce</key>
	<string>{500,0}</string>
	<key>meteorLateralForce</key>
	<string>{-100,0}</string>
	<key>meteorMass</key>
	<string>100.0f</string>
	<key>impulseFromExplosion</key>
	<string>3000.0f</string>
	<key>coinPosition</key>
	<string>{120,100}</string>
	<key>playerStartingPos</key>
	<string>{60,165}</string>
	<key>gravity</key>
	<string>300.0f</string>
	<key>startingPosX</key>
	<string>60.0f</string>
</dict>
</plist>
